
<style>
  div {
    width: 85%;
    margin: 3px auto;
  }

  .but {
    width: 100%;
    text-align: center;
  }

  p {
    padding: 5px;
    text-indent: 2em;
  }

  a {
    margin-bottom: 3.5px;
  }

  th {
    width: 8em;
    text-align: center;
  }

  i {
    font-size: 2em;
    color: rgb(247, 194, 97);
    cursor: pointer;
  }
</style>
<div>
  {{#each dis}}
  <a href="/restaurant/{{Area}}" class="btn btn-outline-info">{{Area}}</a>
  {{/each}}
</div>
<div style="background-color: aliceblue">
  {{#each areares}}
  <h1>{{Area}}</h1>
  {{/each}}
</div>
<div>
  <div class="but">
    {{#each restaurantarea}}
    <a href="#{{Name}}" class="btn btn-outline-success">{{Name}}</a>
    {{/each}}
  </div>
  <table class="table table-striped">

    <thead class="table-info">
      <tr>
        <th scope="col">名稱</th>
        <th scope="col">介紹</th>
        <th scope="col">地址</th>
        <th scope="col">營業時間</th>
        <th style="width:2em;"></th>
      </tr>
    </thead>
    <tbody>
      {{#each restaurantarea}}
      <tr>
        <td id={{Name}}>{{Name}}</td>
        <td>{{Description}}</td>
        <td>{{Add}}</td>
        <td>{{Opentime}}</td>
        <td><i class="far fa-bookmark"></i></td>
        <td style="display:none;"><i class="fas fa-bookmark"></i>塗滿</td>
      </tr>
      {{/each}}
      {{#each allres}}
      <tr>
        <td id={{Name}}>{{Name}}</td>
        <td>{{Description}}</td>
        <td>{{Add}}</td>
        <td>{{Opentime}}</td>
        <td><i class="far fa-bookmark"></i></td>
        <td style="display:none;"><i class="fas fa-bookmark"></i>塗滿</td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</div>